{% extends "fragments/base.html" %}

{% load markdownx %}

{% block title %}{{ article.title }} - Fragmente{% endblock %}

{% block content %}
<article class="post post--single">
    <h1 class="post-title">{{ article.title }}</h1>

    <div class="post-meta"> von Ernesto Rico Schmidt am
        <time datetime="{{ article.published|date:'c' }}">{{ article.published|date }}</time>
    </div>

    <div class="content">
        {{ article.content|markdown }}
    </div>
</article>

<footer class="post-footer">
    <div class="author-bio">
        <h3>Ernesto Rico Schmidt</h3>
        <p>In Cochabamba geboren und aufgewachsen. Zurück nach dreiundzwanzig Jahren in Graz.</p>
    </div>
</footer>
{% endblock %}
