{% extends "fragments/base.html" %}

{% load markdownx %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
<section class="article">
    <header class="article-header">
        <h1 class="article-title">{{ article.title }}</h1>

        <p class="article-published-date">
            <time datetime="{{ article.published|date:'b' }}">{{ article.published|date }}</time>
        </p>
    </header>

    <div class="article-content">
        <p>{{ article.content|markdown }}</p>
    </div>
</section>

<footer class="article-footer">
    <h3>Ernesto Rico Schmidt</h3>
    <p>In Cochabamba geboren und aufgewachsen. Zurück nach dreiundzwanzig Jahren in Graz.</p>
</footer>
{% endblock %}
