{% extends "fragments/base.html" %}

{% load markdownx %}

{% block title %}Fragmente{% endblock %}

{% block content %}
{% for article in article_list %}
<section class="article">
    <header class="article-header">
        <h2 class="article-title"><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h2>

        <p class="article-published-date">
            <time datetime="{{ article.published|date:'b'}}">{{ article.published|date }}</time>
        </p>
    </header>

    <div class="article-excerpt">
        <p>{{ article.content|excerpt }}</p>
    </div>
</section>
{% endfor %}
{% endblock %}

