/* ubuntu-regular - latin */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu Regular'), local('Ubuntu-Regular'),
        url('../fonts/ubuntu-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/ubuntu-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #519251;
}

a:hover,
a:focus {
    text-decoration: underline;
}

pre {
    border: 1px solid #519251;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem 1.5rem;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout {
    padding: 0;
}

.header {
    text-align: center;
    top: auto;
    margin: 3em auto;
}

.sidebar {
    background: #519251;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

.brand-title,
.brand-tagline {
    margin: 0;
}

.brand-title {
    text-transform: uppercase;
}

.brand-tagline {
    font-weight: 300;
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.nav-item a {
    background: transparent;
    border: 2px solid white;
    color: white;
    margin-top: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 85%;
}

.nav-item a:hover,
.nav-item a:focus {
    border: 2px solid #aea79f;
    text-decoration: none;
}

.content {
    padding: 2em 1em 0;
}

.entry {
    font-family: 'Ubuntu Condensed', sans-serif;
    padding-bottom: 2em;
}

.entry-title {
    color: #519251;
    font-size: 2em;
    margin-bottom: 0.2em;
}

.entry-excerpt {
    line-height: 1.8em;
}

.entry-published-date {
    font-size: 90%;
    margin: 0;
}

.entry-content > h1 {
    color: #519251;
}

.entry-footer > h3 {
    color: #519251;
}

@media (min-width: 48em) {
    .content {
        padding: 2em 3em 0;
        margin-left: 25%;
    }

    .header {
        margin: 80% 2em 0;
        text-align: right;
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }
}
