{% extends "blog/base.html" %}

{% load markdownx %}

{% block title %}Blog-Einträge{% endblock %}

{% block content %}
<div class="container">
    {% with entry=entry_list.last %}
    <div class="latest-post">
        <div class="latest-post__inner">
            <div class="latest-post__post">
                <div class="ribbon-container">
                    <div class="ribbon">
                        <div class="ribbon-content"><h5>Neuester Eintrag</h5></div>
                    </div>
                </div>

                <h1 class="latest-post__title">
                    <a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a>
                </h1>

                <div class="latest-post__content">
                    {{ entry.content|excerpt }}
                    <p><a href="{{ entry.get_absolute_url }}" class="read-more">Weiter lesen<i class="fa fa-chevron-right"></i></a></p>
                </div>

                <div class="latest-post__extras post-extras">
                    <div class="post-extras__date">
                        <a href="{{ entry.get_absolute_url }}"><i class="fa fa-calendar-o"></i>
                            <time datetime="{{ entry.published|date:'b' }}">{{ entry.published|date }}</time>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endwith %}

    {% for entry in entry_list %}
    {% if not forloop.last %}
    <article class="post">
        <div class="post__inner">
            <h1 class="post-title">
                <a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a>
            </h1>

            <div class="post-extras__date">
                <a href="{{ entry.get_absolute_url }}"><i class="fa fa-calendar-o"></i>
                    <time datetime="{{ entry.published|date:'b' }}">{{ entry.published|date }}</time>
                </a>
            </div>
        </div>
    </article>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}
