{% extends "blog/base.html" %}

{% load markdownx %}

{% block title %}{{ entry.title }}{% endblock %}

{% block content %}
<section class="entry">
    <header class="entry-header">
        <h1 class="entry-title">{{ entry.title }}</h1>

        <p class="entry-published-date">
            <time datetime="{{ entry.published|date:'b' }}">{{ entry.published|date }}</time>
        </p>
    </header>

    <div class="entry-content">
        <p>{{ entry.content|markdown }}</p>
    </div>
</section>

<footer class="entry-footer">
    <h3>Ernesto Rico Schmidt</h3>
    <p>muggle – restful &amp; reactive.</p>
</footer>
{% endblock %}
