{% extends "blog/base.html" %}

{% load markdownx %}

{% block title %}denklab Blog{% endblock %}

{% block content %}
{% for entry in entry_list %}
<section class="entry">
    <header class="entry-header">
        <h2 class="entry-title"><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></h2>

        <p class="entry-published-date">
            <time datetime="{{ entry.published|date:'b' }}">{{ entry.published|date }}</time>
        </p>
    </header>

    <div class="entry-excerpt">
        <p>{{ entry.content|excerpt }}</p>
    </div>
</section>
{% endfor %}
{% endblock %}

