{% extends "fragments/base.html" %}

{% load markdownx %}

{% block title %}{{ flatpage.title }}{% endblock %}}

{% block content %}
<section class="article">
    <header class="article-header">
        <h1 class="article-title">{{ flatpage.title }}</h1>
    </header>

    <div class="article-content">
        <p>{{ flatpage.content|markdown }}</p>
    </div>
</section>

<footer class="article-footer">
    <h3>Ernesto Rico Schmidt</h3>
    <p>In Cochabamba geboren und aufgewachsen. Zurück nach dreiundzwanzig Jahren in Graz.</p>
</footer>
{% endblock %}